body{
    max-width: 100%;
    overflow-x: hidden;
}
a {
    color: black;
}

ul {
  list-style-type: none;
}
.highlightslist {
    margin-bottom: 40px;
}
.highlightsimg1 {
    margin-top: -10px;
    margin-bottom: 25px;
}
.highlightsimg {
    margin-bottom: 20px;
}
.mainheader {
    width: 100%;
}

.mainheaderdt {
    width: 100%;
}

@media (min-width: 992px) {
   .mainheader{
     display: none;
   }
 .header{
     display: none;
   }
   .basket {
       display: none;
   }
   .titletext{
       display: none;
   }
   .titletext2{
       display: none;
   }
   .titletext3{
       display: none;
   }
   #mobile-only {
       display: none;
   }
   .mainheaderdt{
     display: block;
   }
   #carouselExampleControls{
       display: block;
   }

}
@media (max-width: 991px) {
   .mainheader{
     display: block;
   }

   .mainheaderdt{
     display: none;
   }
   .desktop-only{
       display: none;
   }
   #myCarousel{
       display:none;
   }
   #carouselExampleControls{
       display:none;
   }
}
.header {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer {
    width: 100%;
    margin-top: -35px;
}
.footerdt {
    width: 100%;
    margin-top: 20px;
}

@media (min-width: 992px) {
   .footer{
     display: none;
   }

   .footerdt{
     display: block;
   }
   #myCarousel{
       display: block;
   }
}
@media (max-width: 991px) {
   .footer{
     display: block;
   }

   .footerdt{
     display: none;
   }
}

#titles {
    margin-top: 5px;
    margin-bottom: 35px;
    text-align: center;
}
#titlesdt {
    margin-top:75px;
    margin-left: 50px;
    margin-bottom: 150px;
    text-align: left;
   
}
@media (min-width: 992px) {
   #titles{
     display: none;
   }

   #titlesdt{
     display: block;
   }
}
@media (max-width: 991px) {
   #titles{
     display: block;
   }

   #titlesdt{
     display: none;
   }
   #carouselExampleControls{
       display: none;
   }
}
body {
    background-color: #F7F7F7
}

#pinkcover {
    box-shadow: 0px 6px 30px #F9A7F9;
    border-radius: 50%;
    z-index: 1;
}
#bluecover {
    box-shadow: 0px 6px 30px #B9C2EF;
    border-radius: 50%;
}
#greencover {
    box-shadow: 0px 6px 30px #ABFFD1;
    border-radius: 50%;
}
.col-2 {
    margin-left: -20px;
}

.arrowbutton {
    display: block;
    margin-top: 10px;
    margin-bottom: 55px;
}

.circledivider1 {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.circledivider {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.songlist {
    width: 100%;
    height: 1000px;
    overflow-y: auto;
    overflow-x: none;
    max-width: 100%;
    max-height: 225px; 
    padding-right: 15px;

}
.songlistdt {
    width: 100%;
    height: 1000px;
    overflow-y: auto;
    overflow-x: none;
    max-width: 100%;
    max-height: 400px; 
    padding-right: 15px;
}
.titletext {
    position: absolute;
    top: 36%;
    left: 37%;
    transform: translate (-50%, -50%);
    text-align: center;
    text-shadow: 0px 5px 5px #444
}
.titletext2 {
    position: absolute;
    top: 36%;
    left: 30%;
    transform: translate (-50%, -50%);
    text-align: center;
    text-shadow: 0px 5px 7px #000

}
.titletext3 {
    position: absolute;
    top: 36%;
    left: 40%;
    transform: translate (-50%, -50%);
    text-align: center;
    text-shadow: 0px 5px 5px #444
}
.basket {
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate (-50%, -50%);
     box-shadow: 0px 6px 30px #B9C2EF;
    border-radius: 50%;
}
.basketdt {
    position: absolute;
    top: 19%;
    left: 44%;
    transform: translate (-50%, -50%);
     box-shadow: 0px 6px 30px #B9C2EF;
    border-radius: 50%;
}

#descriptiondt, #descriptiondt2 {
    margin-left: 100px;
    margin-top: -200px; 
}
#discs {
    margin-left: 75px;
}
.desktopsegment {
    margin-top: 100px;
    margin-bottom: 150px;
}
.carousel-inner{
    border-radius: 25px;
}
.carousel-caption{
   text-shadow: 0px 5px 7px #000;
}
.carousel-caption {
    top: 20px;
    bottom: auto;
    left: 50px;
    right: auto;
    text-align: left;
}
#carouselExampleControls {
    margin-bottom: 75px;
}
